.homeSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 2rem auto;
  gap: 2rem;
}

@media screen and (max-width: 1024px) {
  .homeSection {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .homeParagraph {
    font-size: 1.5rem;
    max-width: 20rem;
  }

  .homeLinkContainer {
    width: 20rem;
  }
}

@media screen and (max-width: 480px) {
  .homeParagraph {
    font-size: 1.2rem;
    max-width: 15rem;
    line-height: 1.5rem;
  }

  .homeLinkContainer {
    width: 15rem;
  }

  .homeTitle {
    line-height: 5rem;
  }
}

.homePerson {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homeParagraph,
.homeTitle,
.homeSemiTitle {
  font-family: var(--font-title);
}

.homeParagraph {
  font-weight: 200;
  line-height: 2rem;
  font-size: 2rem;
  max-width: 25rem;
}

.homeLinkSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.homeSectionOne,
.homeLinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-sizing: border-box;
  height: auto;
}

.homeLinkContainer {
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-button-blue);
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}

.homeLinkContainer:hover {
  box-shadow: 0 0 10px var(--background-button-violet);
  background: linear-gradient(
    to right,
    var(--background-button-violet),
    var(--background-button-dark-pink),
    var(--background-button-pink),
    var(--background-button-violet)
  );
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.homeNavLink {
  display: flex;
  flex-direction: column;
  color: var(--background-button-light);
}

.homeLearnMore {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--background-button-light);
}

.homeLearnMore:hover svg {
  transform: translateX(15px);
  transition: all 0.5s ease-in-out;
}

.homeTitle {
  font-size: 4rem;
  line-height: 8rem;
}

.homeSemiTitle {
  border-radius: 10px;
  font-size: 3rem;
}

@media screen and (max-width: 1024px) {
  .homeTitle {
    font-size: 3.5rem;
    line-height: 6rem;
  }

  .homeSemiTitle {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .homeTitle {
    font-size: 3rem;
    line-height: 5rem;
  }

  .homeSemiTitle {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .homeTitle {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .homeSemiTitle {
    font-size: 1.5rem;
  }
}

.banbanImage {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.homeSlider {
  overflow: hidden;
  white-space: nowrap;
}

.homeSlideTrack {
  display: flex;
  animation: scroll 20s linear infinite;
}

.homeSlide {
  display: inline-block;
  padding-right: 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.homeIntroduction {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  padding: 1rem;
  border-top: 2px solid var(--background-button-dark);
  place-items: center;
}

@media screen and (max-width: 1024px) {
  .homeIntroduction {
    grid-template-columns: 1fr;
  }
}

.homeWhoAmI {
  grid-column: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--background-button-light);
}

.homeWhoAmI h1 {
  position: relative;
  color: var(--text-color);
}

.homeWhoAmI h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 3px;
}

.homeWhoAmIParagraph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  padding: 1rem;
  height: auto;
  box-sizing: border-box;
  gap: 2rem;
}

.homeWhoAmIParagraph p {
  font-size: 0.892rem;
  color: var(--background-button-light);
}

.homeInfomationToLink {
  background-color: var(--background-button-blue);
}

.homeInfomationSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
