.portfolio {
  border-top: solid 5px var(--background-button);
  width: 40rem;
  max-width: 100%;
  position: relative;
  margin-top: 3rem;
}


.portArticle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.portCard {
  border: 1px solid #ccc;
  color: var(--text-color);
  border-radius: 8px;
  overflow: hidden;
  background: var(--background-button-dark);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  width: 20rem;
  height: auto;
}

.portImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portCardBody {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portCardTitle {
  margin: 10px 0;
  font-size: 1.5rem;
  text-align: center;
}

.portCardDescription {
  font-size: 1rem;
  /* Responsive font size */
  margin-bottom: 10px;
  font-weight: 300;
  color: var(--background-button-light);
}

@media screen and (max-width: 300px) {
  .portCardDescription {
    font-size: 0.75rem;
  }
}

.portCardDate,
.portCardType {
  font-size: 0.9rem;
  color: var(--background-button-light);
}
