.active {
  margin: 5rem auto;
  max-width: 1200px;
  /* Ensure a maximum width to avoid too wide containers */
  padding: 0 1rem;
  /* Add padding for small screens */
}

.activeWelcome {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  padding-block: 2rem;
}

@media screen and (max-width: 1024px) {
  .activeWelcome {
    text-align: center;
    flex-wrap: wrap;
    padding-block: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .activeWelcome {
    gap: 1rem;
    padding-block: 1rem;
    /* Adjust padding for mobile screens */
  }
}

.activeExternal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border: solid 1px var(--background-button-light);
  border-radius: 50px;
  overflow: hidden;
  height: fit-content;
  box-sizing: border-box;
  width: auto;
}

@media screen and (max-width: 1024px) {
  .activeExternal {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .activeExternal {
    border-radius: 20px;
  }
}

.activeTitle {
  font-size: var(--h1-size);
}

@media screen and (max-width: 1024px) {
  .activeTitle {
    font-size: clamp(1.5rem, 1.2rem + 2vw, 3rem);
    /* Adjusting based on screen size */
  }
}

@media screen and (max-width: 768px) {
  .activeTitle {
    font-size: clamp(1.2rem, 1rem + 1.5vw, 2.5rem);
    /* Adjusting based on screen size */
  }
}

.activeStatItem {
  display: flex;
  flex-direction: column;
}

.activeImage {
  width: 30rem;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .activeImage {
    width: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .activeImage {
    width: 20rem;
  }
}
